<div class="span-7">
  <h2>Feeds</h2>
</div>

<div class="span-15 leftborder last">
	<h3>For your convenience, here's the full list of feeds in this planet</h3>

	<table>
	  <tr>
	    <th>User</th>
	    <th>Feed url</th>
			<th colspan="2">&nbsp;</th>	
	  </tr>

	<% @feeds.each do |feed| %>
	  <tr>
	    <td><%=link_to h(feed.user.name), user_slug_path(feed.user) %></td>
	    <td><%= auto_link feed.feed_url %></td>
			<% if admin? %>
	    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
	    <td><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
	  </tr>
	<% end %>
	</table>

	<% if admin? %>
	<br />
	<%= link_to 'New feed', new_feed_path %>
	<% end %>
</div>