<div class="span-7">
  <h2>Feeds</h2>
</div>

<div class="span-15 leftborder last">
	<h3>New feed</h3>

	<% form_for(@feed) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :user_id %><br />
	    <%= f.collection_select :user_id, User.find(:all), :id, :name %>
	  </p>
	  <p>
	    <%= f.label :feed_url %><br />
	    <%= f.text_field :feed_url %>
	  </p>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>

	<%= link_to 'Back', feeds_path %>
</div>