<div class="span-7">
  <h2>Feeds</h2>
</div>

<div class="span-15 leftborder last">
	<h3>Feed</h3>

	<p>
	  <b>User:</b>
	  <%=link_to h(@feed.user.name), @feed.user %>
	</p>

	<p>
	  <b>Title:</b>
	  <%=h @feed.title %>
	</p>

	<p>
	  <b>Url:</b>
	  <%=link_to @feed.url %>
	</p>

	<p>
	  <b>Feed url:</b>
	  <%=link_to @feed.feed_url %>
	</p>

	<p>
	  <b>Etag:</b>
	  <%=h @feed.etag %>
	</p>

	<p>
	  <b>Last modified:</b>
	  <%=h @feed.last_modified %>
	</p>
	
	<p>
		<b>Entries:</b>
		This feed has <%= pluralize @feed.entries.count, "entry" %>
	</p>

	<%= link_to 'Edit', edit_feed_path(@feed) if admin? %> | <%= link_to 'Back', feeds_path %>
</div>