<div class="span-7">
  <h2>Admin entries</h2>
</div>

<div class="span-15 leftborder last">
	<h3>Listing entries</h3>
	
	<table>
	  <tr>
	    <th>Feed</th>
	    <th>Url</th>
	    <th>Published</th>
			<th colspan="3">&nbsp;</th>
	  </tr>

	<% @entries.each do |entry| %>
	  <tr>
	    <td><%= link_to h(entry.feed.title), entry.feed %></td>
	    <td><%= link_to h(entry.title), entry.url %></td>
	    <td><%= time_ago_in_words entry.published %> ago</td>
	    <td><%= link_to 'Show', entry %></td>
	    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

</div>