<div class="span-3">
	<%= link_to image_tag(url_for_gravatar(user.email), :alt => h(user.name), :title => h(user.name)), user_slug_path(user) if PLANETOID_CONF[:layout][:users][:show_avatar] %>
</div>
<div class="span-12 last">
	<h3><strong><%= h user.name %></strong></h3>
	<p>
		<%= "Blog: " + link_to(user.blog_url.gsub("http://", ""), user.blog_url) + "<br />" if !user.blog_url.blank? %>
		<%= "Twitter: " + link_to(user.twitter_url.gsub("http://", ""), user.twitter_url) + "<br />" if !user.twitter_user.blank? %>
		<%= "Github: " + link_to(user.github_url.gsub("http://", ""), user.github_url) + "<br />" if !user.github_user.blank? %>
		<%= "Projects: " + user.projects.map {|p| "#{link_to(h(p.name), p.url)}"}.join(", ") if user.projects.size > 0 %>
	</p>
	<% if admin? %>
  <p>
		<%= link_to 'Edit', edit_user_path(user) %> | 
  	<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<% end %>
</div>