<div class="span-3">
	<%= link_to image_tag(url_for_gravatar(user.email), :alt => user.name, :title => user.name), user_slug_path(user) if PLANETOID_CONF[:layout][:users][:show_avatar] %>
</div>
<div class="span-12 last">
	<h3><strong><%= user.name %></strong></h3>
	<p>
		<% if user.blog_url.present? %>
			Blog: <%= link_to(user.blog_url.gsub("http://", ""), user.blog_url) %><br />
		<% end %>
		
		<% if user.twitter_url.present? %>
			Twitter: <%= link_to(user.twitter_url.gsub("http://", ""), user.twitter_url) %><br />
		<% end %>
		
		<% if user.github_url.present? %>
			Github: <%= link_to(user.github_url.gsub("http://", ""), user.github_url) %><br />
		<% end %>
		
		<% if user.slideshare_url.present? %>
			Slideshare: <%= link_to(user.slideshare_url.gsub("http://", ""), user.slideshare_url) %><br />
		<% end %>
		
		<% if user.delicious_url.present? %>
			Del.icio.us: <%= link_to(user.delicious_url.gsub("http://", ""), user.delicious_url) %><br />
		<% end %>
		
		<% if user.projects.size > 0 %>
			Projects: <%= user.projects.map {|p| "#{link_to(p.name, p.url)}"}.join(", ").html_safe %>
		<% end %>
	</p>
	<% if admin? %>
  <p>
		<%= link_to 'Edit', edit_user_path(user) %> | 
  	<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<% end %>
</div>