<div class="span-7">
  <h2>Users</h2>
</div>

<div class="span-15 leftborder last">
	<h3>New user</h3>
	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </p>
	  <p>
	    <%= f.label :blog_url %><br />
	    <%= f.text_field :blog_url %>
	  </p>
	  <p>
	    <%= f.label :twitter_url %><br />
	    <%= f.text_field :twitter_url %>
	  </p>
	  <p>
	    <%= f.label :github_url %><br />
	    <%= f.text_field :github_url %>
	  </p>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>

	<%= link_to 'Back', users_path %>
</div>