<div class="span-7">
  <h2><%= h @user.name %></h2>
</div>

<div class="span-15 leftborder last">
	<%= render :partial => 'users/user', :locals => { :user => @user }  %>
	<hr />
</div>

<%= render :partial => 'users/slideshare' if @user.slideshare_user.present? %>

<%= render :partial => 'projects/list' if !@projects.empty? %>

<%= render :partial => 'entries/list' if !@entries.empty? %>