<div class="span-12 last">
	<h3><strong><%= project.name %></strong> <small>by <%= project.users.map {|u| "#{link_to(u.name, user_slug_path(u))}"}.join(", ").html_safe %></small></h3>
	<p><%= link_to project.url.gsub("http://", ""), project.url %></p>
	<blockquote><%= simple_format(project.description) %></blockquote>
	
	<% if admin? %>
  	<p>
			<%= link_to 'Edit', edit_project_path(project) %> | 
  		<%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
		</p>
	<% end %>
</div>